{% extends 'back.html.twig' %}

{% block container %}
    <h1>Equipement creation</h1>

    {{ form_start(form) }}
        {{ form_widget(form) }}
        <input type="submit" value="Create" />
    {{ form_end(form) }}

    <ul>
        <li>
            <a href="{{ path('equipement_index') }}"class="btn btn-inline">Back to the list</a>
        </li>
    </ul>
{% endblock %}
