{% extends 'back.html.twig' %}

{% block container %}
    <table class="table table-striped table-bordered nowrap dataTable">
        <thead>
        <tr>
            <th>Id membre</th>
            <th>Nom club</th>
            <th>nom eleve</th>
            <th>prenom eleve</th>
        </tr>
        </thead>
        <tbody>
        {% for mem in membres %}
            <tr>
                <td>{{ mem.id }}</td>
                <td>{{ mem.idclub.nomclub }}</td>
                <td>{{ mem.eleve.nom }}    </td>
               <td>{{ mem.eleve.prenom }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}
